 
  	<% provide :title, "About Me"%>

	<h1>About Me</h1>
	<p>
	  My name is Wenbin Li. I graduted from Stevens Institute of Technology on Dec 2012, before that I worked in a enterprise software company(<a href="http://www.justep.com/">Justep</a>) for 4 years. Right now, I am working on a <a href="http://iedea.org/">CA-IeDEA(Central Africa International Epidemiologic Databases to Evaluate AIDS)</a>
		project with my professor
	</p>
   </body>
 