<!DOCTYPE html>
<html>
  <head>
    <title>Wenbin's Ruby on Rails Sample App | Home</title>
  </head>
  <body>
    <h1>Wenbin's Sample App</h1>
    <p>
      This is the home page for my blog application.
    </p>
  </body>
</html>